home/Desktop/*
home/Documents/*
home/Downloads/*
home/Music/*
home/Pictures/*
home/Public/*
home/sdk_manager/*
home/Templates/*
home/Videos/*

!home/Desktop/.gitkeep
!home/Documents/.gitkeep
!home/Downloads/.gitkeep
!home/Music/.gitkeep
!home/Pictures/.gitkeep
!home/Public/.gitkeep
!home/sdk_manager/.gitkeep
!home/Templates/.gitkeep
!home/Videos/.gitkeep

home/*
!home/.gitkeep
!Desktop/
!Documents/
!Downloads/
!Music/
!Pictures/
!Public/
!sdk_manager/
!Templates/
!Videos/

updated_image_flag
tags

